p{
     
  color: maroon;
  font-size: 2vw;

}
h1,h2{
  font-family: Arial ;
  color: gray;
}
h1{
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}
body
{
  font-family: Arial;
  font-size: 1.5em;
}
html
{
  font-size: 25px;
}
body
{
	color: royalblue;
	color: rgb(13, 68, 233);
	color: #1140cccc;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
background-color: #1140cccc;
}