.first
{
  height: 50px;
 
}
.background
{
  top: 0;
  left: 0;
  bottom: auto;
  background-color: black;
  margin: 0px;
  height: 36px;
  position: absolute;
  width: 100%;
}
.logo
{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 75px;
  height: 150px;
}